<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="user.bean.UserDTO" alias="user"/>
        <typeAlias type="manager.bean.ManagerDTO" alias="manager"/>
<!--        <typeAlias type="edu.kh.comm.chat.model.vo.ChatRoom" alias="chatRoom"/>-->
<!--        <typeAlias type="edu.kh.comm.chat.model.vo.ChatRoomJoin" alias="chatRoomJoin"/>-->
<!--        <typeAlias type="edu.kh.comm.chat.model.vo.ChatMessage" alias="chatMessage"/>-->
        <typeAlias type="chatWebsocket.bean.ChatMessageDTO" alias="chatMessage"/>
        <typeAlias type="chatWebsocket.bean.ChatRoomDTO" alias="chatRoom"/>
        <typeAlias type="chatWebsocket.bean.ChatRoomJoinDTO" alias="chatRoomJoin"/>
    </typeAliases>
</configuration>