<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.dao.BoardDAO">

    <insert id="boardInputData" parameterType="board.bean.BoardDTO">
        insert into board values(#{BOARDID},#{SUBJECT},#{CONTENT},#{userTotCnt},1,#{projectType},#{projectField},#{UserId},sysdate(),0,0)
    </insert>

    <insert id="tagInput" parameterType="map">
        insert into boardtag values(#{lang},#{boardId})
    </insert>

    <select id="boardListGet" resultType="board.bean.BoardDTO">
        select * from board order by DATE desc
    </select>
    <select id="boardTagGet" parameterType="String" resultType="String">
        select CONTENT from boardtag where BOARDID=#{boardid}
    </select>
</mapper>