<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board.dao.BoardDAO">

    <insert id="boardInputData" parameterType="board.bean.BoardDTO">
        insert into board values(#{BOARDID},#{SUBJECT},#{CONTENT},#{userTotCnt},1,#{projectType},#{projectField},#{UserId},sysdate(),0,0)
    </insert>

    <insert id="tagInput" parameterType="map">
        insert into boardtag values(#{lang},#{boardId})
    </insert>

    <select id="boardListGet" parameterType="int" resultType="board.bean.BoardDTO">
        select * from board order by DATE desc limit ${startNum-1},5
    </select>
    <select id="boardListGetbyId" parameterType="String" resultType="board.bean.BoardDTO">
        select * from board where BOARDID=#{boardid}
    </select>

    <select id="boardListGet1" parameterType="Map" resultType="board.bean.BoardDTO">
        select * from board where projectType Like #{projectType} and projectField Like #{projectField} order by DATE desc
    </select>
    <select id="boardTagGet" parameterType="String" resultType="String">
        select CONTENT from boardtag where BOARDID=#{boardid}
    </select>

    <select id="getTotal" resultType="int">
        select count(*) from board;
    </select>
    <select id="getTotal1" parameterType="Map" resultType="int">
        select count(*) from board where projectType Like #{projectType} and projectField Like #{projectField};
    </select>


    <update id="addHit" parameterType="String">
        update board set HIT=HIT+1 where BOARDID=#{boardid}
    </update>


    <select id="boardScrap" parameterType="Map" resultType="String">
        select BOARDID from scrap where UserId=#{userId} and BOARDID=#{boardid}
    </select>

    <insert id="addBoardScrap" parameterType="Map">
        insert into scrap values(#{userId},#{boardid})
    </insert>

    <delete id="removeBoardScrap" parameterType="Map">
        delete from scrap where UserId=#{userId} and BOARDID=#{boardid}
    </delete>

    <delete id="removeBoard" parameterType="Map">
        delete from board where UserId=#{userId} and BOARDID=#{boardid}
    </delete>
</mapper>