<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chattingMapper">

    <resultMap id="chatroom_rm" type="ChatRoomDTO">
        <id property="chatRoomNo" column="CHAT_ROOM_NO"/>
        <result property="title" column="TITLE"/>
        <result property="memberNo" column="MEMBER_NO"/>
    </resultMap>

    <select id="selectChatRoomList" resultMap="chatroom_rm">
        SELECT chat_room_no, title, member_no
        FROM chat_room
        WHERE status = 'Y'
        ORDER BY chat_room_no DESC;
    </select>

    <insert id="openChatRoom" useGeneratedKeys="true">

        <selectKey keyProperty="chatRoomNo" resultType="_int" order="BEFORE">
            SELECT SEQ_CR_NO.NEXTVAL FROM DUAL
        </selectKey>


        INSERT INTO CHAT_ROOM VALUES
        (#{chatRoomNo}, #{title}, DEFAULT, #{memberNo})
    </insert>
</mapper>