<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="freeBoard.dao.FBoardDAO">

    <insert id="write" parameterType="FBoardDTO">
        insert into free_board(writer, title, content, writer_name)
        values(#{writer}, #{title}, #{content}, #{writer_name})
    </insert>

    <select id="getBoardComment" parameterType="int" resultType="FBoardCommentDTO">
        select * from fboard_comment where fboard=#{fBoard} order by date desc
    </select>

    <insert id="addComment" parameterType="FBoardCommentDTO">
        insert into fboard_comment(fboard, writer, comment) values(#{fBoard}, #{writer}, #{comment})
    </insert>

    <select id="getUserLikeList" parameterType="String" resultType="int">
        select fboard
        from fboard_like
        where userId=#{userId}
    </select>

    <select id="updateLike" parameterType="map" statementType="CALLABLE">
        call LIKE_PROCEDURE(#{fBoard},#{userId})
    </select>

    <select id="fBoardList" statementType="CALLABLE">
        call LOUNGE_PROCEDURE(#{startNum}, #{size})
    </select>

    <select id="getFBoardList" resultType="FBoardDTO">
        select *
        from free_board
        order by fboard desc
        limit #{startNum}, #{size}
    </select>

    <select id="getFBoardTopRank" parameterType="int" resultType="FBoardDTO">
        select *
        from free_board
        order by date desc
        limit 0, #{number}
    </select>

    <delete id="deleteFBoard" parameterType="int" >
        delete from free_board where fboard=#{fBoard}
    </delete>

</mapper>