<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="freeBoard.dao.FBoardDAO">

    <insert id="write" parameterType="FBoardDTO">
        insert into free_board(writer, title, content)
        values(#{writer}, #{title}, #{content})
    </insert>

<!--    <select id="getFBoardList" resultType="FBoardDTO">
        select * from free_board order by fboard desc
    </select>-->

    <select id="getUserLikeList" parameterType="String" resultType="int">
        select fboard
        from fboard_like
        where userId=#{userId}
    </select>

    <select id="updateLike" parameterType="map" statementType="CALLABLE">
        call LIKE_PROCEDURE(#{fBoard},#{userId})
    </select>

    <select id="getFBoardList" resultType="FBoardDTO">
        select *
        from free_board
        order by fboard desc
        limit #{startNum}, #{size}
    </select>

</mapper>