<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="managerSQL">
    <!-- 총 회원 수 -->
    <select id="getToTalMember">
        select count(*) from user
    </select>

    <!-- 가입 회원 수 -->
    <select id="getTodayMember" resultType="java.util.Map">
        SELECT DATE(hiredate) AS date, COUNT(*) AS signups
        FROM user
        WHERE hiredate >= DATE_SUB(CURDATE(), INTERVAL 6 DAY)
        GROUP BY DATE(hiredate)
        ORDER BY DATE(hiredate) DESC;
    </select>

</mapper>