<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="USER">

    <insert id="save" parameterType="user">
        insert into USER(userId, pwd, name, email, phone, hiredate)
        values (#{userId}, #{pwd},#{name},#{email},#{phone},sysdate())
    </insert>

    <select id="login" parameterType="user" resultType="user">
        select * from USER where userId=#{userId} and pwd=#{pwd}
    </select>

    <select id="findByUserId" parameterType="string" resultType="user">
        SELECT * FROM USER WHERE userId = #{userId}
    </select>

    <select id="findByUserId2" parameterType="Map" resultType="manager.bean.ManagerUserBan">
        SELECT * FROM userBan WHERE name = #{name} and phone = #{phone} and email = #{email}
    </select>

    <select id="findByEmail" parameterType="string" resultType="user">
        SELECT * FROM USER WHERE email = #{email}
    </select>

    <select id="getIntro" parameterType="string" resultType="user.bean.UserIntro">
        SELECT * FROM user_description WHERE userId = #{userId}
    </select>

    <insert id="writeIntroduce" parameterType="user.bean.UserIntro">
        insert into user_description
        values (#{name}, #{userId}, #{position} ,#{career}, #{skill1}, #{skill2}, #{skill3}, #{introduce})
    </insert>

    <delete id="delete" parameterType="String">
        delete from User where userId=#{userId}
    </delete>

    <update id="update" parameterType="user.bean.UserIntro">
        UPDATE user_description
        SET position = #{position}, career = #{career}, introduce = #{introduce}, skill1 = #{skill1}, skill2 = #{skill2}, skill3 = #{skill3}
        WHERE userId = #{userId}
    </update>

    <select id="countByEmail" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM USER WHERE email = #{email}
    </select>

    <select id="showProfile" parameterType="String" resultType="user.bean.UserIntro">
        select * from user_description where userId = #{userid}
    </select>
    <update id="userIconChange" parameterType="Map">
        update USERICON set iconId=#{fileName} where UserId=#{userid}
    </update>
    <insert id="userIconInsert" parameterType="Map">
        insert into USERICON values(#{userid},#{fileName})
    </insert>
    <select id="userIconCheck" parameterType="String" resultType="String">
        select iconId from USERICON where UserId=#{userid}
    </select>

</mapper>